.home__image {
  width: 1800px;
  height: 600px;
  /* object-fit: none; */
  object-position: 100% 0;
  z-index: -1;
  margin-bottom: -225px;
  margin-left: 0px;
  margin-right: 0px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  padding-top: 10px;
}

.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}
