.scholar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  box-shadow: 0.5px 1px 1px 1px #4c4949;

  z-index: 1;
  border-radius: 2px;
}

.scholar__info {
  height: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2px;
  padding-top: 10px;
}

.scholar > img {
  max-height: 300px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.scholar:hover {
  transform: scale(1.03) !important;
  box-shadow: 3px 5px 3px 3px #4c4949;
  cursor: pointer;
  /* transition: all .1s ease-in-out; */
}

.scholar__name {
  font-size: 24px;
  font-family: "Papyrus";
  font-weight: 100;
}
